{% extends "search_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>{{ profile.name }} {{ profile.surname }}</title>
</head>
{% block content %}
    <hr>
    <table align="center" style="width: 50%;">
        <col width="30%">
        <col width="10%">
        <col width="5%">
        {% if recipes|length > 0%}
        <tr>
            <th><h3>Name</h3></th>
            <th><h3>Time</h3></th>
            <th></th>
        </tr>
        {% endif %}
        {% for recipe in recipes %}
            <tr>
                <th><a href="{{ url_for ('recipe_details', recipe_id=recipe.id) }}">{{ recipe.name }} </a></th>
                <th>
                    {% if recipe.time != 0 %}
                        <h6>{{ recipe.time }}</h6>
                    {% else %}
                        <h6> - </h6>
                    {% endif %}
                </th>
                <th><img src="{{ recipe.image_url }}" style="max-width:60px;max-height:60px;"></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}