{% extends "profile_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>{{ profile.name }} {{ profile.surname }}</title>
</head>
{% block content %}
    <h1>My products</h1>
    <ul>
        {% for product in profile.products %}
            <li>{{ product.name }}  {{ product.quantity }} {{ product.unit }} </li>
        {% endfor %}
    </ul>
    <form id="new_product_form" action="{{ url_for ('profile_products', profile_id=1) }}" method="post">
        <div class="form-group">
            <div class="row">
                <input type="text" class="form-control col-sm-5 mr-1" name="name" placeholder="Product">
                <input type="text" class="form-control col-sm-2 mr-1" name="quantity" placeholder="Quantity">
                <input type="text" class="form-control col-sm-1 mr-1" name="unit" placeholder="Unit">
                <button type="submit" class="btn btn-primary">Add product</button>
            </div>
        </div>
    </form>
{% endblock %}