<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div class="container">    
        <div class="top-menu w-100 d-flex my-3">
            <a href="products.html" class="col text-center">My products</a>
            <a href="favourites.html" class="col text-center">Favourites</a>
            <a href="history.html" class="col text-center">History</a>
        </div>
        <div class="info-container mx-auto d-block">
            <h1 class="text-center w-100">Imie nazwisko</h1>
            <div class="d-flex mt-5">
                <img src="assets/loginavatar.png" alt="profile-foto" class="mr-5 ml-auto">
                <p class="ml-5 mr-auto">Opis Czlowieka</p>
            </div>
        </div>
    </div>
</body>
</html>