{% extends "search_layout.html" %}
{% block content %}
    <div class="container">
        <h1 id="recipe-title" class="w-100 text-center my-5">
            {{ recipe.name }}
        </h1>
        <div class="mt-5 text-center" id="recipe-content">
            <h4>Ingredients:</h4>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        oQuickReply.swap('recipe-title');
    </script>
{% endblock %}