<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Recipe search</title>
</head>
<body>
    <a href="{{ url_for ('profile', profile_id=1) }}">Profile</a>
    <div class="container mx-auto">
        <form id="diet_labels_form" action="{{ url_for ('recipe_results') }}" method="post">
            <input type="text" class="search-input mx-auto d-block my-5" name="query" placeholder="Your query here">
                {% for label in labels %}
                    <div class="form-check">
                      <label class="form-check-label" for="{{ label }}">
                          <input class="form-check-input" type="checkbox" name="{{ label }}" id="{{ label }}">
                          {{ label }}
                      </label>
                    </div>
                {% endfor %}
            <div class="d-flex">
                <button type="submit" class="btn btn-primary ml-auto mr-5">Search</button>
                <a href="{{  url_for ('authorize') }}" class="btn with-login mr-auto">Login with Google</a>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
</body>
</html>